[Unit]
Description=personalDNSfilter Service
Wants=network-online.target
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
WorkingDirectory=/var/lib/personalDNSfilter/
ExecStart=/usr/bin/java -cp /usr/local/lib/personalDNSfilter/personalDNSfilter.jar dnsfilter.DNSFilterProxy
StandardOutput=journal
StandardError=null

# Hardening
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
SystemCallArchitectures=native
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
